# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries (pandas, numpy etc)

In [3]:
import pandas as pd
import numpy as np

### Step 2. Run the below line of code to create a dictionary

In [4]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

### Step 3. Assign it to a variable called pokemon and it should be a pandas Series.

In [6]:
pokemon = pd.Series(raw_data)
pokemon.head(4)

name         [Bulbasaur, Charmander, Squirtle, Caterpie]
evolution      [Ivysaur, Charmeleon, Wartortle, Metapod]
type                           [grass, fire, water, bug]
hp                                      [45, 39, 44, 45]
dtype: object

### Step 4. If the DataFrame columns are in alphabetical order, change the order of the columns as name, type, hp, evolution, pokedex

In [11]:
Pokemon = pd.DataFrame.from_dict(raw_data)
Pokemon

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

### Step 5. Add another column called place, and insert places (lakes, parks, hills etc) of your choice.

In [12]:
place = ["trees","lakes","hills","parks"]
Pokemon["places"] = place
Pokemon

         name   evolution   type  hp pokedex places
0   Bulbasaur     Ivysaur  grass  45     yes  trees
1  Charmander  Charmeleon   fire  39      no  lakes
2    Squirtle   Wartortle  water  44     yes  hills
3    Caterpie     Metapod    bug  45      no  parks

### Step 6. Display the data type of each column

In [14]:
Pokemon.dtypes

name         object
evolution    object
type         object
hp            int64
pokedex      object
places       object
dtype: object